/* Start Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');
/* End Fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --main-color: #10cab7;
    --desc-color: #2c4755;
    --special-text: #ebeced;
    --padding: 100px;
}

/* Start Special Head */
.sepcial-header {
    position: relative;
    text-align: center;
    width: 100%;
}

.sepcial-header h1 {
    font-size: 100px;
    color: #ebeced;
    font-weight: 900;
    letter-spacing: -3px;
}

@media (max-width: 767px) {
    .sepcial-header h1 {
        font-size: 70px;
    }
}
.sepcial-header p {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #777;
    width: 100%;
}

/* End Special Head */

/* Start Header */
.header .container .nav{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
}

.header .container .nav .icon{
    width: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header .container .nav .icon span{
    display: block;
    width: 100%;
    height:2px;
    background-color: #000;
    margin-bottom: 6px;
}

.header .container .nav .icon span:nth-child(2) {
    width: 70%;
    transition: 0.3s;
}

.header .container .nav .icon:hover span:nth-child(2) {
    width: 100%;
}
/* End Header */

/* Start landing */
.landing {
    background-image: url(../Images/download.jpg);
    background-size: cover;
    height: calc(100vh - 60px);
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
}


.landing .content .title{
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 100%;
    text-align: center;
}

.landing .content .title h1 {
    color: var(--main-color);
    font-size: 50px;
}

.landing .content .title p {
    line-height: 2;
    font-size: 19px;
}
/* End landing */
/* Start Work */
.work {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    background-color: #F6F6F6;
}

.work .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.work .content .box {
    text-align: center;
}
.work .content .box .title{
    width: 100%;
    max-width: 100%;
}

.work .content .box .title h1 {
    font-size: 20px;
}

.work .content .box .title p {
    color: #777;
    line-height: 2;
}
/* End Work */
/* Start Services */
.services {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.services .content .col .serv {
    display: flex;
    margin-bottom: 30px;
}

@media (max-width:767px) {
    .services .content .col .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .content .col .serv i {
    font-size: 35px;
    margin-right: 30px;
    color: var(--main-color);
}
@media (max-width:767px) {
    .services .content .col .serv i  {
        margin: 0 0 30px 0;
    }
}
.services .content .col .serv .title h1 {
    margin: 0 0 20px 0;
    font-size: 20px;
}

.services .content .col .serv .title p {
    line-height: 1.6;
    font-weight: 300;
    color: #777;
}

.services .content .image img{
    width: 260px;
}

.services .content .image {
    position: relative;
    width: fit-content;
}

.services .content .image::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 60px);
    background-color: var(--desc-color);
    top: -30px;
    right: -50px;
    z-index: -1;
}

@media (max-width: 1199px) {
    .services .content .image {
        display: none;
    }
    .services .content .image::before {
        display: none;
    }
}
/* End Services */

/* Start Portfolio */
.portfolio {
    padding-bottom: var(--padding);
    background-color: #F6F6F6;
}

.portfolio .container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio .box .image{
    width: 100%;
}

.portfolio .box .image img {
    max-width: 100%;
    cursor: progress;
}


.portfolio .box .title {
    padding: 20px;
    background-color: white;
}

.portfolio .box .title h1 {
    font-size: 20px;
}

.portfolio .box .title p {
    color: #777;
    line-height: 1.7;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}

.about .content {
    display: flex;
    justify-content: space-between;

}

@media (max-width: 991px) {
    .about .content {
        flex-direction: column;
        align-items: center;
    }
}

.about .content .effect {
    position: relative;
    flex-basis: 500px;
}

.about .content .image {
    position: relative;
    width: 260px;
}
.about .content .image::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% + 60px);
    background-color: #EBECED;
    top: -30px;
    left: -25px;
    z-index: -1;    
}

.about .content .image::after {
    content: '';
    position: absolute;
    width: 100px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    height: 70%;
    background-color: transparent;
    top: -30px;
    right: -130px;
    z-index: -1;  
}
@media (max-width: 767px) {
    .about .content .image::before {
        display: none;
    }
    .about .content .image::after {
        display: none;
    }
}
.about .content .image img {
    width: 260px;
    max-width: 100%;
}

.about .content .info {
    flex-basis: calc(100% - 500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about .content .info p:not(:last-child) {
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2;
}

.about .content .info p:not(:first-child) {
    margin-bottom: 100px;
    line-height: 2;
    color: #777;
}

.about .content .info .line {
    max-width: 50%;
    height: 2px;
    background-color: var(--main-color);
    margin-top: 50px;
    margin-bottom: 50px;
}
/* End About */
/* Start Contact */
.contact {
    padding-top: calc(var(--padding) - 50px);
    padding-bottom: var(--padding);
    background-color: #F6F6F6;
}

.contact .content {
    text-align: center;
}

.contact .content .title h1 {
    color: var(--desc-color);
    font-weight: 900;
}

@media (max-width: 767px) {
    .contact .content .title h1 {
        font-size: 20px;
    }
}

.contact .content .title a {
    display: block;
    max-width: 100%;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .contact .content .title a  {
        font-size: 20px;
    }
}

.contact .content .title .links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .content .title .links i {
    margin-left: 10px;
    color: var(--desc-color);
    cursor: pointer;
}

.contact .content .title .links i:hover {
    color: var(--main-color);
}
/* End Contact */
/* Start Footer */
.footer {
    padding: 30px;
    background-color: var(--desc-color);
}

.footer .content {
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 17px;
}

.footer .content span {
    color: var(--main-color);
    font-weight: 900;
    cursor: pointer;
}

.footer .content span:hover {
    text-decoration: underline;
}
/* End Footer */